---
// @src/components/atoms/SeoHead.astro
export interface Props {
  title: string;
  description: string;
  image?: string;
  canonicalURL?: URL | string;
  robots?: string;
  type?: "website" | "article";
}

const {
  title,
  description,
  image = "../../assets/uploads/demo-logo.jpg", // Fallback si no hay imagen definida
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
  robots = "index, follow",
  type = "website",
} = Astro.props;

// Construcción de URL absoluta para la imagen (Vital para WhatsApp/LinkedIn)
const socialImageURL = new URL(image, Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="robots" content={robots} />

<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />

<link rel="sitemap" href="/sitemap-index.xml" />
